body {
    background-color: rgb(248, 249, 250);
    color: black;
}

body {
    background-color: rgb(247, 162, 84);
}

#imglogin {
    display: flex;
    justify-content: center;
    height: 250px;
    padding: 5px;
}

#logoimg {
    border-radius: 200px;
    border: 5px solid;
    margin-left: 5px;
    box-shadow: 2px 4px 6px;
}

.formsesion h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.formulario {
    margin: 0 40vw;
}

.formulario input {
    border: 2px solid;
    box-shadow: 1px 3px 5px;
}

.formulario button {
    margin: 0 5vw;
    box-shadow: 1px 3px 5px;
}

.form-control {
    width: 20vw;
    display: flex;
    height: 50px;
}

.form-floating {
    margin-right: 50px;
}

.btn-primary {
    /*background-color: rgb(190, 108, 1);*/
    background-color: white;
    color: black;
    font-style: bold;
    border: 2px solid;
    box-shadow: 1px 3px 5px;
}

.jap a {
    /*color:rgb(255, 149, 10);*/
    color: black;
    font-style: bold;
}
.jap{
    color:black;
}
.float-end a {
    /*color:rgb(255, 149, 10);*/
    color: black;
    font-style: bold;
}

.container {
    margin: 0px;
}
