body {
    color: black;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(22, 18, 17), rgb(27, 21, 17), rgba(34, 25, 24, 0.9));
    font-family: 'Verdana', serif !important;
}


.jumbotron {
    background-color: #222; 
    color: white;
}

.card-body {
    background-color: #333; 
    color: white;
}

.container,
.site-header {
    background-color: #111; 
    color: white;
}


.site-header a {
    color: #53C0FB;
}

.site-header .dropdown-menu a {
    color: white;
}

/*Product-info*/
#textCom2{
    color: white;
}
#textCom{
    color: white;
}
